@charset "UTF-8";
body {
  color: #ffffff;
  background: #ffffff;
  font-size: 18px;
  line-height: 1.3;
  min-width: 320px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  background: #3c434d;
}
header .container {
  position: relative;
}

.logo {
  font-size: 28px;
  margin: 0;
  font-weight: 700;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 33px 62px 31px;
  position: relative;
  float: left;
}

.logo::before {
  content: "";
  background: url(../images/logo.png) no-repeat 0 0;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 34px;
  left: 25px;
}

.main-nav {
  list-style: none;
  margin: 0;
  padding: 90px 0 17px;
  position: relative;
}
@media screen and (min-width: 1114px) {
  .main-nav {
    padding: 40px 0 16px;
    margin: 0 10px 0 341px;
  }
}
.main-nav li {
  display: inline-block;
  margin: 0;
  padding: 0 4px 0 3px;
}
@media screen and (min-width: 1114px) {
  .main-nav li {
    display: inline-block;
  }
}
.main-nav li a {
  text-decoration: none;
  color: #80909c;
  font-weight: 500;
  padding: 4px 14px 6px 14px;
}
.main-nav li a:hover {
  color: #ffffff;
}

.profile-div {
  position: absolute;
  top: 23px;
  right: 10px;
}
@media screen and (min-width: 1114px) {
  .profile-div {
    right: 0;
  }
}

.profile-notifications {
  text-align: center;
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  top: -4px;
  right: 87px;
  background: url(../images/profile-notifications.png) 50% 50% no-repeat;
  width: 25px;
  height: 25px;
}

.profile {
  color: #ffffff;
  text-decoration: none;
}

.profile-image {
  border-radius: 50%;
  vertical-align: middle;
  horiz-align: right;
  height: 55px;
  width: 55px;
  margin: 0 10px;
}

.main-block {
  background: url(../images/main-pic.jpg) no-repeat 0 0;
  background-size: cover;
  margin: 0 auto 64px;
}

.main-text {
  text-align: center;
  padding: 30px 0;
}
@media screen and (min-width: 980px) {
  .main-text {
    padding: 89px 156px 120px;
  }
}
.main-text h1 {
  font-size: 48px;
  font-weight: 700;
  display: inline-block;
  margin: 16px auto 3px;
}
@media screen and (min-width: 980px) {
  .main-text h1 {
    padding: 0 6px;
  }
}
.main-text p {
  padding: 15px 35px;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 40px 0;
}
.main-text p span {
  font-size: 16px;
}

.blue-button {
  padding: 20px 40px;
  background: #629fd1;
  border: 1px solid #629fd1;
  border-radius: 3px;
  color: #ffffff;
  margin: 0 0 15px 36px;
}

.transparent-button {
  padding: 20px 40px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  margin: 0 0 15px 36px;
}

.form {
  text-align: center;
}

.form-box {
  color: #b2c1cc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}
@media screen and (min-width: 1114px) {
  .form-box {
    width: 570px;
  }
}
.form-box .form-row {
  margin: 25px auto;
  width: 100%;
}
@media screen and (min-width: 1114px) {
  .form-box .form-row {
    width: 49%;
    margin: 25px auto 5px;
  }
}
.form-box .form-row input {
  padding: 20px 35px;
  color: #b2c1cc;
  border: 1px solid #b2c1cc;
  border-radius: 3px;
}
.form-box .form-row select {
  padding: 20px 58px;
  color: #b2c1cc;
  border: 1px solid #b2c1cc;
  border-radius: 3px;
  background-image: url(../images/select-arrow.png);
  background-position: 94% 50%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  -ms-appearance: none;
  appearance: none !important;
}
.form-box .form-row select::-ms-expand {
  display: none;
}

.checkbox-div {
  margin-bottom: 70px;
}
.checkbox-div a {
  color: #629fd1;
}
.checkbox-div p {
  margin: 20px auto 37px;
  font-weight: 300;
}

.checkbox {
  display: none;
}
.checkbox + label span {
  display: inline-block;
  height: 22px;
  width: 22px;
  margin-right: 10px;
  background: url(../images/checkbox.png) 0 0 no-repeat;
  vertical-align: middle;
}
.checkbox:checked + label span {
  background: url(../images/checkbox-checked.png) 0 0 no-repeat;
}

.form-box-title {
  color: #3c434d;
  font-size: 36px;
  margin: 32px auto;
}

.form-box-button {
  padding: 20px 40px;
  background: #629fd1;
  border: 1px solid #629fd1;
  border-radius: 3px;
  color: #ffffff;
  margin: 0 0 15px 36px;
}

.items-wrap {
  border-top: 1px solid #dee4ea;
  border-bottom: 1px solid #dee4ea;
  padding: 67px 0;
}

.items {
  color: #80909c;
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
  justify-content: space-around;
}

.item {
  padding: 45px 15px 15px;
  margin: 0 15px 25px 15px;
  position: relative;
  line-height: 1.7;
  width: 100%;
}
@media screen and (min-width: 980px) {
  .item {
    width: 45%;
    padding: 0 55px 0;
    margin: 0 0 5px 43px;
  }
}
.item p {
  margin: 14px 0;
  font-weight: 400;
  font-size: 18px;
}

.item-icon {
  position: absolute;
  font-size: 45px;
  color: #629fd1;
  top: 0;
  left: 50%;
  margin-left: -30px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
@media screen and (min-width: 1114px) {
  .item-icon {
    top: 27px;
    left: 0;
  }
}

.item-icon-1::before {
  content: "";
}

.item-icon-2::before {
  content: "";
}

.item-icon-3::before {
  content: "";
}

.item-icon-4::before {
  content: "";
}

.items-title {
  color: #3c434d;
  font-size: 48px;
  text-align: center;
  margin: 40px 0 34px;
}

.items-subtitle {
  color: #3c434d;
  font-size: 20px;
  margin-bottom: 0;
}

.crew-wrap {
  padding: 0;
}
@media screen and (min-width: 1114px) {
  .crew-wrap {
    padding: 67px 0;
    margin: 0 auto 83px auto;
  }
}

.arrow, .crews .arrow-left, .crews .arrow-right {
  position: absolute;
  width: 15px;
  height: 15px;
}

.crews {
  color: #80909c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 15px;
  text-align: center;
  position: relative;
}
.crews .arrow-left {
  display: none;
}
@media screen and (min-width: 980px) {
  .crews .arrow-left {
    background: url(../images/arrow-left.png) no-repeat 0 0;
    display: inline-block;
    top: 77px;
    left: 21px;
  }
}
.crews .arrow-right {
  display: none;
}
@media screen and (min-width: 980px) {
  .crews .arrow-right {
    background: url(../images/arrow-right.png) no-repeat 0 0;
    display: inline-block;
    top: 77px;
    right: 21px;
  }
}

.crew-div {
  padding: 45px 15px 15px;
  margin: 0 15px 25px 15px;
  position: relative;
  line-height: 1.7;
  width: 100%;
}
@media screen and (min-width: 980px) {
  .crew-div {
    width: 30%;
    padding: 0 10px 0 15px;
    margin: 0 5px 5px 5px;
  }
}
.crew-div p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}

.crew-image {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  margin: 0;
}
@media screen and (min-width: 1114px) {
  .crew-image {
    margin: 0 auto;
  }
}

.crew-title {
  color: #3c434d;
  font-size: 48px;
  text-align: center;
  margin: 40px 0 65px;
}

.crew-subtitle {
  color: #3c434d;
  font-size: 20px;
  margin: 14px 0 0 0;
}
@media screen and (min-width: 1114px) {
  .crew-subtitle {
    margin: 14px 0 0 30px;
  }
}

footer {
  background: #3c434d;
  padding: 17px 0 24px;
  color: #80909c;
  position: relative;
}
footer span {
  margin: 0;
}
@media screen and (min-width: 980px) {
  footer span {
    margin: 0 0 0 23px;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px 80px;
  line-height: 1.7;
}

.footer-border {
  border-top: 1px solid #80909c;
  position: absolute;
  width: 100%;
  bottom: 15%;
  left: 0;
}
@media screen and (min-width: 980px) {
  .footer-border {
    bottom: 22%;
  }
}

.footer-div {
  width: 100%;
}
@media screen and (min-width: 980px) {
  .footer-div {
    width: 25%;
  }
}

.footer-div-1 {
  width: 100%;
}
@media screen and (min-width: 980px) {
  .footer-div-1 {
    width: 50%;
  }
}
.footer-div-1 p {
  margin: 12px 8px;
}

.footer-form {
  padding: 9px 0;
}
.footer-form input {
  padding: 15px 36px;
  color: #b2c1cc;
  border: 1px solid #b2c1cc;
  border-radius: 3px;
  background: transparent;
  margin: 0 9px 20px;
}
.footer-form button {
  padding: 20px 40px;
  background: #629fd1;
  border: 1px solid #629fd1;
  border-radius: 3px;
  color: #ffffff;
  margin: 0 0 15px 36px;
  padding: 15px 77px;
  margin: 0 0 15px 10px;
}
@media screen and (min-width: 1114px) {
  .footer-form button {
    padding: 15px 36px;
    margin: 0 0 15px 19px;
  }
}

.footer-logo {
  font-size: 28px;
  margin: 0;
  font-weight: 700;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 33px 62px 31px;
  position: relative;
  padding: 28px 48px 0;
}

.footer-logo::before {
  content: "";
  background: url(../images/logo-blue.png) no-repeat 0 0;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 37px;
  left: 9px;
}

.footer-subtitle {
  color: #ffffff;
  font-size: 20px;
  margin: 37px 37px 6px;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: #80909c;
  margin: 0 0 7px 38px;
}

.footer-icons {
  margin-bottom: 20px;
}
@media screen and (min-width: 980px) {
  .footer-icons {
    float: right;
    margin: 0;
  }
}

.icon-vk, .icon-fb, .icon-tw, .icon-lk {
  display: inline-block;
  padding: 0 20px;
  width: 20px;
  height: 25px;
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
}

.icon-vk {
  background-position: -130px -18px;
}

.icon-fb {
  background-position: -18px -17px;
}

.icon-tw {
  background-position: -195px -21px;
}

.icon-lk {
  background-position: -83px -17px;
}
