@charset "UTF-8";
body {
  color: #ffffff;
  background: #ffffff;
  font-size: 18px;
  line-height: 1.3;
  min-width: 320px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  background: #3c434d;
}

.logo {
  font-size: 28px;
  margin: 0;
  font-weight: 700;
  display: inline-block;
  float: left;
  color: #ffffff;
  text-decoration: none;
  padding: 33px 62px 31px;
  position: relative;
}

.logo::before {
  content: "";
  background: url(../images/logo.png) no-repeat 0 0;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 34px;
  left: 25px;
}

.main-nav {
  list-style: none;
  margin: 0;
  padding: 90px 0 17px;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 1114px) {
  .main-nav {
    padding: 26px 0 16px;
  }
}
.main-nav li {
  display: inline-block;
  margin: 0;
  padding: 0 4px 0 3px;
}
@media screen and (min-width: 1114px) {
  .main-nav li {
    display: inline-block;
  }
}
.main-nav li a {
  text-decoration: none;
  color: #80909c;
  font-weight: 500;
  padding: 4px 14px 6px 14px;
}
.main-nav li a:hover {
  color: #ffffff;
}
.main-nav li .profile {
  color: #ffffff;
}
.main-nav li .profile-image {
  border-radius: 50%;
  vertical-align: middle;
  horiz-align: right;
}

.main-block {
  background: url(../images/main-pic.jpg) no-repeat 0 0;
  background-size: cover;
  margin-bottom: 64px;
}

.main-text {
  text-align: center;
  padding: 30px 0;
}
@media screen and (min-width: 980px) {
  .main-text {
    padding: 89px 156px 120px;
  }
}
.main-text h1 {
  font-size: 48px;
  font-weight: 700;
  display: inline-block;
  margin: 16px 0 3px 0;
}
@media screen and (min-width: 980px) {
  .main-text h1 {
    padding: 0px 6px;
  }
}
.main-text p {
  padding: 15px 35px;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 40px 0;
}
.main-text p span {
  font-size: 16px;
}

.blue-button {
  padding: 20px 40px;
  background: #629fd1;
  border: 1px solid #629fd1;
  border-radius: 3px;
  color: #ffffff;
  margin: 0 0 15px 36px;
}

.transparent-button {
  padding: 20px 40px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  margin: 0 0 15px 36px;
}

.form {
  text-align: center;
}

.form-box {
  color: #b2c1cc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}
@media screen and (min-width: 1114px) {
  .form-box {
    width: 570px;
  }
}
.form-box .form-row {
  margin: 25px auto;
  width: 100%;
}
@media screen and (min-width: 1114px) {
  .form-box .form-row {
    width: 49%;
  }
}
.form-box .form-row input {
  padding: 15px 25px;
  color: #b2c1cc;
  border: 1px solid #b2c1cc;
  border-radius: 3px;
}
.form-box .form-row select {
  padding: 15px 45px;
  color: #b2c1cc;
  border: 1px solid #b2c1cc;
  border-radius: 3px;
  background-image: url(../images/select-arrow.png);
  background-position: 94% 50%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  -ms-appearance: none;
  appearance: none !important;
}
.form-box .form-row select::-ms-expand {
  display: none;
}

.checkbox-div {
  margin-bottom: 70px;
}
.checkbox-div a {
  color: #629fd1;
}
.checkbox-div p {
  margin: 6px auto 36px;
  font-weight: 300;
}

.checkbox {
  display: none;
}
.checkbox + label span {
  display: inline-block;
  height: 22px;
  width: 22px;
  margin-right: 10px;
  background: url(../images/checkbox.png) 0 0 no-repeat;
  vertical-align: middle;
}
.checkbox:checked + label span {
  background: url(../images/checkbox-checked.png) 0 0 no-repeat;
}

.form-box-title {
  color: #3c434d;
  font-size: 36px;
  margin: 25px auto;
}

.form-box-button {
  padding: 20px 40px;
  background: #629fd1;
  border: 1px solid #629fd1;
  border-radius: 3px;
  color: #ffffff;
  margin: 0 0 15px 36px;
}

.items-wrap {
  border-top: 1px solid #dee4ea;
  border-bottom: 1px solid #dee4ea;
  padding: 67px 0;
}

.items {
  color: #80909c;
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
}

.item {
  padding: 45px 15px 15px;
  margin: 0 15px 25px 15px;
  position: relative;
  line-height: 1.7;
  width: 100%;
}
@media screen and (min-width: 980px) {
  .item {
    width: 45%;
    padding: 0 55px 0;
    margin: 0 15px 5px 15px;
  }
}
.item p {
  margin: 14px 0;
  font-weight: 400;
  font-size: 18px;
}

.item-icon {
  position: absolute;
  font-size: 45px;
  color: #629fd1;
  top: 0;
  left: 50%;
  margin-left: -30px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
@media screen and (min-width: 1114px) {
  .item-icon {
    top: 27px;
    left: 0;
  }
}

.item-icon-1::before {
  content: "";
}

.item-icon-2::before {
  content: "";
}

.item-icon-3::before {
  content: "";
}

.item-icon-4::before {
  content: "";
}

.items-title {
  color: #3c434d;
  font-size: 48px;
  text-align: center;
  margin: 40px 0 34px;
}

.items-subtitle {
  color: #3c434d;
  font-size: 20px;
  margin-bottom: 0;
}
